:root {
  --color-primary-background: #f7f7f7;
  --color-secondary-background: #ffffff;
  --color-primary-font: #212121;
  --color-secondary-font: #ffffff;
  --color-border: #e0e0e0;
  --color-placeholder: #666666;
  --color-wireframe: #b8b8b8;

  --color-pokemon-fairy: #e69eac;
  --color-pokemon-ice: #9ad6df;
  --color-pokemon-grass: #74cb48;
  --color-pokemon-steal: #b7b9d0;
  --color-pokemon-rock: #b69e31;
  --color-pokemon-dark: #75574c;
  --color-pokemon-psychic: #fb5584;
  --color-pokemon-water: #6493eb;
  --color-pokemon-ghost: #70559b;
  --color-pokemon-ground: #dec16b;
  --color-pokemon-dragon: #7037ff;
  --color-pokemon-electric: #f9cf30;
  --color-pokemon-fire: #f57d31;
  --color-pokemon-bug: #a7b723;
  --color-pokemon-poison: #a43e9e;
  --color-pokemon-flying: #a891ec;
  --color-pokemon-fighting: #c12239;
  --color-pokemon-normal: #aaa67f;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary-font);
}
